.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

// /* Let's get this party started */
// ::-webkit-scrollbar {
//   width: 12px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   background: #455a64;
//   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
// }

// ::-webkit-scrollbar-thumb:window-inactive {
//   background: #455a64;
// }

// .sidebar {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 10px 30px 3px rgba(0, 0, 0, 0.19);
// }

// .header-container {
//   -webkit-box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
//   -moz-box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
//   box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
// }

.header-container {
  // -webkit-box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
  // -moz-box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
  // box-shadow: 0px 6px 50px -18px rgba(0, 0, 0, 0.81);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .title {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 2px;
    }
  }
}