//
// Utilities for common `display` values
//
// display start
each(map-keys(@grid-breakpoints), #(@breakpoint) {
        #media-breakpoint-up(@breakpoint, {
                @infix: breakpoint-infix(@breakpoint, @grid-breakpoints);

                each(@displays, #(@value) {
                        .d-@{value} {
                            display: @value  !important;
                        }
                    }

                );
            }

        );
    }

);

each(@overflows, {
        .overflow-@{value} {
            overflow: @value  !important;
        }
    }

);

each(@positions, #(@position) {
        .position-@{position} {
            position: @position  !important;
        }
    }

);

.d-none {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

.underline {
    text-decoration: underline;
}